################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/therondels/therondels/Bin
/therondels/therondels/obj
/therondels/ScheduledTaskAgent2/Bin
/therondels/ScheduledTaskAgent2/obj
/therondels/.vs
*.user